$fontfamily: "MuseoSansCyrl";
$afont: "MuseoSansCyrl";
$wievport: 980px;
$dark: #141414;

@mixin ibw {
    text-align: center;
    font-size: 0;

    & > * {
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
    }
}

@mixin sec {
    width: 100%;
    min-width: 2268px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-size: cover !important;

    & > div {
        max-width: 1960px;
        position: relative;
        z-index: 2;
        height: 100%;
        margin: 0 auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

:after,
:before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

sup:after,
sup:before,
a:after,
a:before,
br:after,
br:before,
img:after,
img:before,
span:after,
span:before,
table:after,
table:before,
td:after,
td:before,
tr:after,
tr:before {
    content: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 1em;
    font-weight: inherit;
    text-align: center;
    font-family: $afont;
    font-weight: 300;
    letter-spacing: 0.01em;
}

body {
    font-family: $fontfamily, sans-serif;
    font-weight: 400;
    color: $dark;
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0 !important;
}

button,
input,
textarea {
    outline: none;
}

section,
header,
footer {
    @include sec;
}

body {
    background-color: #0c1931;
}

header {
    padding-bottom: 33px;

    .left {
        padding-top: 35px;
        float: left;

        .logo {
            width: 260px;
            height: 53px;
            background-image: url(../img/logo.png);
            background-repeat: no-repeat;
            background-position: 5px 15px;
        }
    }

    .right {
        margin-right: 486px;
        float: right;
        padding-top: 36px;

        nav {
            font-size: 0;

            a {
                font-weight: 100;
                display: inline-block;
                line-height: 46px;
                height: 47px;
                font-size: 18px;
                color: white;
                border-bottom: 1px solid #232f45;
                position: relative;
                letter-spacing: 0.25px;
                padding: 0 20px;

                &.active,
                &:hover {
                    border-color: #00b7f4;
                }

                &:before,
                &:after {
                    width: 5px;
                    height: 5px;
                    top: 21px;
                    box-shadow: 0 10px 70px #00cbff;
                    position: absolute;
                    content: '';
                    background-image: url(../img/pin.png);
                }

                &:before {
                    left: -2px;
                }

                &:after {
                    right: -3px;
                }
            }
        }
    }

    .phone {
        width: 90px;
        height: 90px;
        position: absolute;
        right: 345px;
        top: 16px;
        background-image: url(../img/phone.png);
        background-repeat: no-repeat;
        background-position: -38px -16px;
        cursor: pointer;
    }
}

.sec1 {
    .left {
        float: left;

        .blockanal {
            font-size: 34px;
            padding-left: 8px;
            text-transform: uppercase;
            margin-bottom: 30px;
            color: white;

            span {
                font-size: 42px;
                line-height: 25px;
                color: #00cafe;

                &:after {
                    content: '';
                    width: 28px;
                    height: 3px;
                    background: #00cafe;
                    display: inline-block;
                    margin-left: 6px;
                    position: relative;
                    top: 3px;
                }
            }
        }

        .blockmanager {
            width: 485px;
            height: 68px;
            text-align: left;
            padding-left: 37px;
            line-height: 63px;
            font-size: 21px;
            background: url(../img/ramka1.png);
            background-repeat: no-repeat;
            color: white;
            letter-spacing: -0.1px;
            cursor: pointer;

            span {
                display: inline-block;
                width: 20px;
                height: 22px;
                background-image: url(../img/arr-r.png);
                background-repeat: no-repeat;
                background-position: 9px 5px;
                line-height: 65px;
                font-size: 0;
                margin-left: 4px;
            }
        }
    }

    .right {
        float: right;
        margin-right: 650px;
        margin-top: 116px;
        margin-bottom: 22px;

        .export {
            font-size: 26px;
            display: inline-block;
            width: 276px;
            padding-left: 53px;
            height: 58px;
            border: 2px solid red;
            border-radius: 7px;
            line-height: 58px;
            background-image: url(../img/csv.png);
            background-repeat: no-repeat;
            background-position: 8px 8px;
            border-color: #00cbff;
            color: white;
            cursor: pointer;
        }

        .history {
            font-size: 26px;
            display: inline-block;
            width: 199px;
            padding-left: 63px;
            height: 58px;
            border: 2px solid red;
            border-radius: 7px;
            line-height: 58px;
            background-image: url(../img/history.png);
            background-repeat: no-repeat;
            background-position: 6px 5px;
            margin-left: 8px;
            border-color: #00cbff;
            color: white;
            cursor: pointer;
        }
    }

    .line {
        width: 1301px;
        background-color: #00cafe;
        height: 2px;
        margin-right: 805px;
    }
}

.sec2 {
    padding-top: 70px;

    .top {
        width: 2010px;
        margin-left: 6px;

        ul {
            font-size: 0px;
            background-color: #093d5a;

            li {
                color: white;
                font-size: 14px;
                text-align: center;
                line-height: 71px;
                width: 310px;
                display: inline-block;
                height: 99px;
                vertical-align: top;

                span {
                    line-height: 24px;
                    font-weight: 500;
                    display: inline-block;
                    color: white;
                }

                &:nth-of-type(1) {
                    font-size: 22px;
                    text-align: center;
                    line-height: 97px;
                    width: 250px;
                    padding-right: 13px;
                }

                &:nth-of-type(2) {
                    width: 313px;
                    padding-left: 15px;
                    padding-top: 2px;

                    span {
                        background-image: url(../img/ico1.png), url(../img/smallarr.png);
                        background-position: left 1px, right 9px;
                        padding-left: 39px;
                        padding-right: 36px;
                    }
                }

                &:nth-of-type(3) {
                    width: 345px;
                    padding-right: 0px;
                    font-size: 15px;

                    span {
                        background-image: url(../img/ico1.png), url(../img/smallarr.png);
                        background-position: 13px 3px, right 9px;
                        padding-left: 39px;
                        padding-right: 36px;
                    }
                }

                &:nth-of-type(4) {
                    width: 337px;
                    padding-right: 33px;
                    font-size: 14px;
                    line-height: 73px;

                    span {
                        background-image: url(../img/ico2.png), url(../img/smallarr.png);
                        background-position: left 4px, right 10px;
                        padding-left: 39px;
                        padding-right: 36px;
                    }
                }

                &:nth-of-type(5) {
                    width: 315px;
                    padding-left: 23px;
                    font-size: 14px;
                    line-height: 71px;

                    span {
                        background-image: url(../img/ico3.png), url(../img/smallarr.png);
                        background-position: 2px 3px, right 10px;
                        padding-left: 22px;
                        padding-right: 21px;
                    }
                }

                &:nth-of-type(6) {
                    width: 311px;
                    font-size: 15px;
                    color: #00cafe;
                    text-align: left;
                    padding-left: 57px;
                    line-height: 14px;
                    text-align: left;
                    padding-top: 8px;
                    background-image: url(../img/ico4.png);
                    background-position: 33px 25px;

                    span {
                        font-size: 13px;
                        line-height: 13px;
                        display: inline-block;

                        &.conv {
                            margin-right: 100px;
                            color: #00cafe;
                        }

                        &.any {
                            color: white;
                            background-image: url(../img/smallarr.png);
                            background-position: right 4px;
                            padding-right: 32px;
                            font-weight: 700;
                        }
                    }
                }

                &:nth-of-type(7) {
                    width: 138px;
                    padding-left: 0px;
                    line-height: 77px;

                    span {
                        background-image: url(../img/ico5.png), url(../img/smallarr.png);
                        background-position: -1px 1px, right 9px;
                        padding-left: 29px;
                        padding-right: 23px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

.sec3 {
    padding-top: 1px;

    .statistic {
        width: 2010px;
        margin-left: 6px;
        height: 1326px;
        border-radius: 1px;
        margin-top: -1px;

        .itemcon {
            position: relative;
            height: 262px;
            width: 100%;

            .speed {
                height: 128px;
                background-image: url(../img/speed-bg.png);
                background-position: bottom;
                position: relative;
                width: 300px;
                margin: 0 auto;
                .strelka{
                    width: 60px;
                    height: 23px;
                    background-image: url(../img/speed_arrow.png);

                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    margin-left: -50px;
                    transform: rotate(30deg);
                    transform-origin: 48px 12px;

                }
                .text{
                    position: absolute;
                    font-size: 14px;
                    line-height: 14px;
                    height: 14px;
                    font-weight: 300;
                    width:38px;
                    text-align: center;
                    &.text1{
                        left: 5px;
                        top:118px;
                        text-align: right;

                    }
                    &.text2{
                        left: 38px;
                        top:40px;
                        text-align: right;}
                    &.text3{
                        top:10px;left: 50%;
                        margin-left: -19px;}
                    &.text4{
                        right: 38px;
                        top:40px;
                        text-align: left;}
                    &.text5{
                        right: 5px;
                        top:118px;
                        text-align: left;}
                }
                .line{
                    position: absolute;
                    width: 50%;
                    height: 4px;
                    right: 50%;
                    bottom: 0;
                    transform-origin: right center;
                    transform:rotate(60deg);
                    &:after{
                        position: absolute;
                        background:red;
                        right: 64px;
                        width: 29px;
                        height: 100%;
                        top: 0;
                    }

                }
            }

            &:nth-of-type(2n-1) {
                background-color: #172940;

                &:last-of-type {
                    background-color: #0f405e;
                }
            }

            > div {
                width: 248px;
                height: 262px;
                display: block;
                float: left;
                border: 1px solid #134663;
                position: relative;

                &:nth-of-type(1) {
                    font-size: 19px;
                    padding-left: 47px;
                    text-align: left;
                    background-image: url(../img/face1.png);
                    background-position: -10px -2px;
                    background-size: 255px;
                    overflow: hidden;
                    color: #00cafe;
                    padding-top: 182px;
                }

                &:nth-of-type(2) {
                    width: 315px;
                    overflow: hidden;
                    font-size: 16px;
                    padding-top: 160px;
                    line-height: 34px;
                    padding-left: 17px;
                    color: white;
                    background-image: url(../img/speedtest.png);
                    background-position: 31px 28px;

                    span {
                        color: #6ac113;
                        font-size: 30px;
                        margin-left: 33px;
                        line-height: 37px;
                    }

                    span.num2 {
                        color: #6ac113;
                        font-size: 29px;
                        margin-left: 70px;
                    }
                }

                &:nth-of-type(3) {
                    width: 345px;
                    overflow: hidden;
                    font-size: 16px;
                    padding-top: 20px;
                    line-height: 77px;
                    color: white;
                    text-align: center;

                    //background-image: url(../img/speedtest2.png);
                    background-position: 33px 26px;

                    span {
                        margin-left: 23px;
                        font-size: 29px;
                        line-height: 18px;
                        color: #e5d90a;
                    }
                }

                &:nth-of-type(4) {
                    width: 339px;
                    overflow: hidden;
                    font-size: 16px;
                    padding-top: 160px;
                    line-height: 78px;
                    padding-left: 34px;
                    color: white;
                    background-image: url(../img/speedtest3.png);
                    background-position: 36px 28px;

                    span {
                        margin-left: 28px;
                        font-size: 29px;
                        line-height: 18px;
                        color: #ed7826;
                    }
                }
            }

            .sum {
                width: 313px;
                height: 262px;

                p.text {
                    display: block;
                    color: white;
                    padding-top: 32px;
                    padding-left: 20px;
                    margin-bottom: 10px;
                }

                p.verx {
                    color: white;
                    font-size: 20px;
                    display: block;
                    width: 100%;
                    height: 49px;
                    background-image: url(../img/line.png);
                    background-size: 251px;
                    background-position: 19px 36px;

                    &:after {
                        width: 40px;
                        bacground: red;
                        font-size: 10px;
                    }

                    span.l {
                        padding-top: 11px;
                        font-size: 21px;
                        padding-left: 11px;
                        display: inline-block;
                        text-align: left;
                    }

                    span.mid {
                        display: inline-block;
                        margin-left: 86px;
                        padding-top: 3px;
                        text-align: center;
                        vertical-align: top;
                    }

                    span.r {
                        display: inline-block;
                        margin-left: 47px;
                        text-align: right;
                        font-size: 21px;
                    }
                }

                p.right {
                    width: 280px;
                    height: 26px;
                    display: inline-block;
                    margin-left: 19px;

                    span.bottom {
                        width: 70px;
                        background-color: #68bf12;
                        height: 26px;
                        display: inline-block;
                    }

                    span.text2 {
                        display: inline-block;
                        font-size: 23px;
                        margin-left: 8px;
                        color: white;
                        vertical-align: top;
                    }

                    span.bottom2 {
                        width: 170px;
                        background-color: #b8e013;
                        height: 26px;
                        display: inline-block;
                    }

                    span.bottom3 {
                        width: 70px;
                        background-color: #f13300;
                        height: 26px;
                        display: inline-block;
                    }

                    span.bottom4 {
                        width: 201px;
                        background-color: #9ae216;
                        height: 26px;
                        display: inline-block;
                    }

                    span.bottom5 {
                        width: 70px;
                        background-color: #f13300;
                        height: 26px;
                        display: inline-block;
                    }
                }

                p.niz {
                    height: 60px;
                    margin-top: 30px;
                    margin-left: 19px;

                    span.check {
                        width: 130px;
                        color: white;
                        display: block;
                        margin-bottom: 2px;
                    }

                    span.shkal {
                        display: inline-block;
                        width: 146px;
                        background-color: #68bf12;
                        height: 26px;
                    }

                    span.shkal_1 {
                        display: inline-block;
                        width: 78px;
                        background-color: #f13300;
                        height: 26px;
                    }

                    span.shkal_2 {
                        display: inline-block;
                        width: 70px;
                        background-color: #f13300;
                        height: 26px;
                    }

                    span.shkal_3 {
                        display: inline-block;
                        width: 146px;
                        background-color: #68bf12;
                        height: 26px;
                    }

                    span.shkal_4 {
                        display: inline-block;
                        width: 146px;
                        background-color: #68bf12;
                        height: 26px;
                    }

                    span.text3 {
                        display: inline-block;
                        font-size: 23px;
                        color: white;
                        margin-left: 4px;
                        vertical-align: top;
                        width: 100px;
                    }
                }
            }

            .row {
                float: left;
                width: 313px;
                height: 262px;

                .left {
                    width: 205px;
                    border: none;
                    float: left;
                    text-align: left;
                    padding-left: 10px;
                    padding-top: 43px;
                    font-size: 12px;
                    color: white;
                    line-height: 19px;
                    background-image: none;

                    p {
                        padding-top: 15px;
                    }
                }

                .right {
                    width: 98px;
                    border: none;
                    float: right;
                    text-align: right;
                    margin-right: 8px;
                    padding-top: 44px;
                    color: white;
                    line-height: 18px;
                    font-size: 24px;
                    padding-left: 0;
                    background-image: none;
                }

                p.prc {
                    padding-top: 15px;

                    &:nth-of-type(1) {
                        color: #f13300;
                    }

                    &:nth-of-type(2) {
                        color: #dae800;
                    }

                    &:nth-of-type(3) {
                        color: #dae800;
                    }

                    &:nth-of-type(4) {
                        color: #68bf12;
                    }

                    &:nth-of-type(5) {
                        color: #68bf12;
                    }
                }
            }

            div.last {
                width: 137px;
                vertical-align: middle;
                height: 100%;
                padding: 0 5px;

                .infoico {
                    background-image: url(../img/info.png);
                    position: absolute;
                    right: 0px;
                    top: 14px;
                    height: 40px;
                    display: block;
                    width: 40px;
                    cursor: pointer;
                }

                p {
                    color: #68bf12;
                    text-align: center;
                    width: 100%;
                    font-size: 39px;
                    vertical-align: middle;
                    display: inline-block;
                    margin-top: 46px;
                    border-bottom: 1px solid #00cbff;

                    &:nth-of-type(2) {
                        margin-top: 0;
                    }

                    &:nth-of-type(3) {
                        margin-top: 0;
                        width: 121px;
                        letter-spacing: -2px;
                    }
                }
            }
        }
    }
}